
analysis_information_board_around_airport/.settings/org.eclipse.core.resources.prefs
/community_analysis/paper_ijcal/.texpadtmp/
/information_boards/b_aggregation/AllDriversMonthBasedRegression-ns2023.ipynb
/information_boards/b_aggregation/AllDriversMonthBasedRegression-ap.ipynb
/information_boards/b_aggregation/AllDriversMonthBasedRegression-ns1517.ipynb
/information_boards/b_aggregation/SsDriversBasicStatistics.ipynb
/information_boards/b_aggregation/t-test.ipynb
/information_boards/b_aggregation/report_regression_tripBased.ipynb
/information_boards/b_aggregation/SsDriversMonthBasedRegression.ipynb
/information_boards/b_aggregation/Untitled.ipynb
/information_boards/b_aggregation/chart_hour_numTrip_QTime_EP.ipynb
/information_boards/b_aggregation/.ipynb_checkpoints/
.idea/
community_analysis/.DS_Store
community_analysis/__init__.pyc
community_analysis/a_preprocessing/.DS_Store
community_analysis/a_preprocessing/___log_a2_prevDriversDefined.log
community_analysis/a_preprocessing/___log_a3_time_pickUp.log
community_analysis/a_preprocessing/__init__.pyc
community_analysis/b_group/.DS_Store
community_analysis/b_group/.ipynb_checkpoints/
community_analysis/b_group/___log_b1_regression_graph.log
community_analysis/b_group/___log_b2_group.log
community_analysis/b_group/___log_b3_groupDefinedTrip.log
community_analysis/b_group/__init__.pyc
community_analysis/b_group/regression_test.ipynb
community_analysis/data/
community_analysis/report/__init__.pyc
community_analysis/report/helping_functions.pyc
community_analysis/z_notebooks/__init__.pyc
information_boards/.DS_Store
information_boards/0data/
information_boards/__init__.pyc
information_boards/a_preprocessing/__init__.pyc
information_boards/b_aggregation/.ipynb_checkpoints/Untitled-checkpoint.ipynb
information_boards/b_aggregation/Untitled Folder/
information_boards/b_aggregation/___log_b2_ap_allDriverStatistics.log
information_boards/build/
information_boards/data/
information_boards/data_20170118/
information_boards/z_notebooks/__init__.pyc
taxi_common/_classes.pyc
taxi_common/data/Singapore_grid_xy_points.pkl
taxi_common/data/Singapore_zones.pkl
taxi_common/data/sg_grid(0.5km).json
taxi_common/data/sg_grid_xy_points(0.5km).pkl
taxi_common/data/sg_zones(0.5km).pkl
taxi_common/data/ss_drivers_by_trip/
taxi_common/log_handling_functions.pyc
taxi_common/multiprocess.pyc
taxi_common/sg_grid_zone.pyc
/community_analysis/z_documents/Draft_CommunityAnalysis.manuscript/
/community_analysis/z_documents/Outline_CommunityAnalysis.scap
community_analysis/b_group/__hist_log_.log
community_analysis/b_group/___log_b2_groupPartition.log
community_analysis/b_group/___log_b4_groupZones.log
community_analysis/build/
community_analysis/c_validation/.ipynb_checkpoints/
community_analysis/c_validation/___log_c1_communityZones.log
community_analysis/c_validation/__init__.pyc
community_analysis/c_validation/overlap.ipynb
community_analysis/c_validation/zone_regression_map.ipynb
information_boards/b_aggregation/___log_b1_ap_immediate_decision.log
information_boards/b_aggregation/___log_b3_driverClassification.log
information_boards/b_aggregation/___log_b3_driversIntellect-ap-.log
information_boards/z_notebooks/.ipynb_checkpoints/AllDriversMonthBasedTtest-ap-checkpoint.ipynb
information_boards/z_notebooks/AllDriversMonthBasedTtest-ap.ipynb
taxi_common/.DS_Store
taxi_common/data/.DS_Store
/community_analysis/z_documents/paper_ijcal/.texpadtmp/
/community_analysis/b_group/_cy_b1_influenceGraph.pyx
/community_analysis/b_group/_cy_b1_influenceGraph.c
/community_analysis/b_group/_cy_b1_influenceGraph.so
/community_analysis/b_group/_cy_b2_groupPartition.c
/community_analysis/b_group/_cy_b3b_XgroupTripsShifts.c
/community_analysis/b_group/_cy_b3a_groupTripsShifts.so
/community_analysis/b_group/_cy_b3a_groupTripsShifts.c
/community_analysis/b_group/_cy_b3b_XgroupTripsShifts.so
/community_analysis/b_group/_cy_b2_groupPartition.so
community_analysis/_hour_tripNum.pkl
community_analysis/b_group/___log_.log
community_analysis/chart/
community_analysis/z_documents/.DS_Store
community_analysis/z_documents/literature_review_communityAnalysis.xlsx
community_analysis/z_documents/paper_ijcal/.DS_Store
community_analysis/z_documents/paper_ijcal/figs/.DS_Store
community_analysis/z_notebooks/Presentation.slides.html
information_boards/temp.py
information_boards/z_notebooks/.ipynb_checkpoints/driverClassification_t_test-checkpoint.ipynb
information_boards/z_notebooks/.ipynb_checkpoints/temp_check_numTrips-checkpoint.ipynb
information_boards/z_notebooks/driverClassification_t_test.ipynb
information_boards/z_notebooks/temp_check_numTrips.ipynb
taxi_common/data/SG_maps/
