*.so
*.c
*.pyc
*.log
*.DS_Store

analysis_information_board_around_airport/.settings/org.eclipse.core.resources.prefs
/community_analysis/paper_ijcal/.texpadtmp/
/information_boards/b_aggregation/AllDriversMonthBasedRegression-ns2023.ipynb
/information_boards/b_aggregation/AllDriversMonthBasedRegression-ap.ipynb
/information_boards/b_aggregation/AllDriversMonthBasedRegression-ns1517.ipynb
/information_boards/b_aggregation/SsDriversBasicStatistics.ipynb
/information_boards/b_aggregation/t-test.ipynb
/information_boards/b_aggregation/report_regression_tripBased.ipynb
/information_boards/b_aggregation/SsDriversMonthBasedRegression.ipynb
/information_boards/b_aggregation/Untitled.ipynb
/information_boards/b_aggregation/chart_hour_numTrip_QTime_EP.ipynb
/information_boards/b_aggregation/.ipynb_checkpoints/
.idea/
community_analysis/b_group/.ipynb_checkpoints/
community_analysis/b_group/regression_test.ipynb
community_analysis/data/
information_boards/b_aggregation/.ipynb_checkpoints/Untitled-checkpoint.ipynb
information_boards/build/
information_boards/data/
information_boards/data_20170118/
taxi_common/data/Singapore_grid_xy_points.pkl
taxi_common/data/Singapore_zones.pkl
taxi_common/data/sg_grid(0.5km).json
taxi_common/data/sg_grid_xy_points(0.5km).pkl
taxi_common/data/sg_zones(0.5km).pkl
taxi_common/data/ss_drivers_by_trip/
/community_analysis/z_documents/Draft_CommunityAnalysis.manuscript/
/community_analysis/z_documents/Outline_CommunityAnalysis.scap
community_analysis/build/
community_analysis/c_validation/.ipynb_checkpoints/
community_analysis/c_validation/overlap.ipynb
community_analysis/c_validation/zone_regression_map.ipynb
information_boards/z_notebooks/.ipynb_checkpoints/AllDriversMonthBasedTtest-ap-checkpoint.ipynb
information_boards/z_notebooks/AllDriversMonthBasedTtest-ap.ipynb
/community_analysis/z_documents/paper_ijcal/.texpadtmp/
/community_analysis/b_group/_cy_b1_influenceGraph.pyx
community_analysis/_hour_tripNum.pkl
community_analysis/chart/
community_analysis/z_documents/literature_review_communityAnalysis.xlsx
community_analysis/z_notebooks/Presentation.slides.html
information_boards/temp.py
information_boards/z_notebooks/.ipynb_checkpoints/driverClassification_t_test-checkpoint.ipynb
information_boards/z_notebooks/.ipynb_checkpoints/temp_check_numTrips-checkpoint.ipynb
information_boards/z_notebooks/driverClassification_t_test.ipynb
information_boards/z_notebooks/temp_check_numTrips.ipynb
taxi_common/data/SG_maps/
